h1{

    color:blue;
    text-align: center;
}
 div{
     width:32%;
     height: 600px;
     border-width: 1px;
     border-style: solid;
     border-color: black;
     float: left;
 }
 img{
     width:100%;
     height: 18%;
 }